<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Читатель</title>
</head>
<body>
<p th:text="${person.getPersonName() + ', ' + person.getPersonYearOfBirth()}">VALUE</p>
<hr/>
<div th:if="${not #lists.isEmpty(personBooks)}">
    <p th:text="'Книги:'">text</p>
    <div th:each="book : ${personBooks}">
    <a th:style="${book.isExpired()} ? 'color: red' : 'color: black'" th:text="${book.getBookName() + ', ' + book.getBookAuthor() + ', ' + book.getBookYear()}">user</a>
    </div>
</div>
<div th:if="${#lists.isEmpty(personBooks)}">
    <p th:text="'Человек пока не взял ни одной книги'">text</p>
</div>
<hr/>
<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getPersonId()})}">
    <input type="submit" value="Редактировать"/>
</form>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPersonId()})}">
    <input type="submit" value="Удалить читателя"/>
</form>
<br/>
<form th:method="GET" action="/people/">
    <input type="submit" value="Назад"/>
</form>
</body>
</html>